@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Web.Configuration;
@using System.IO;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.Web.SessionState;

@{

    ViewBag.Title = "ListAllProducts";

}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



@*<h3>
        @Session["email"].ToString()
    </h3>*@


@{
    string connDB = WebConfigurationManager.ConnectionStrings["connDB"].ConnectionString;

    using (var db = new SqlConnection(connDB))
    {
        db.Open();
        using (var cmd = db.CreateCommand())
        {

            cmd.CommandType = CommandType.Text;
            //var search = ViewBag.Search;
            cmd.CommandText = "SELECT * FROM ITMTBL";



            using (var reader = cmd.ExecuteReader())
            {
                if (reader.HasRows)
                {

                    <div class="container d-flex-row  text-center">
                        <h2 class="primary-text-color">List of All Items</h2>


                        @while (reader.Read())
                        {
                            <div id="items" class="m-auto bg-light col-lg-12">
                                <div class=" product-content justify-content-center clearfix">

                                    <div class="row">
                                        <div class="col-md-5 col-sm-12 col-xs-12">
                                            <div class="product-image">
                                                <img src="../Home/Image?filename=@HttpUtility.UrlEncode(reader["ITMIMG"]+"")" alt="200x200" class="img-responsive">  @*Image Source*@
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-12 col-xs-12">
                                            <div class="product-deatil">

                                                <h5 class="name">
                                                    @reader["ITMNAME"]
                                                </h5>
                                                <span>Available:</span>
                                                <span id="onhand">@reader["ITMONHAND"]</span>
                                                <p class="price-container">
                                                    <span>₱</span>
                                                    <span id="price">@reader["ITMPRICE"]</span>
                                                </p>
                                                <span class="tag1">@reader["ITMDATE"]</span>
                                            </div>
                                            <div class="description">
                                                <p id="itmnum">@reader["ITMNUM"]</p>
                                                <p class="mb-0"> @reader["ITMDESC"]</p>
                                            </div>

                                            <div class="row mt-3 justify-content-center">
                                                <div class="col-4">
                                                    <input type="number" class="form-control" id="txtqty" value="1">
                                                </div>
                                                <div class="col-6 text-center ">
                                                    <button type="button" id="btnCart"
                                                            name="btnsbmt" class="btnCart btn btn-primary shadow">
                                                        <i class="fa fa-shopping-cart"></i> &nbsp; Add to cart
                                                    </button>

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        }

                    </div>
                }
                <br />
                <button type="button" class="btn mx-auto btn-block w-25 btn-primary" onclick="location.href='@Url.Action("Payment", "Home")'">
                    <span class="glyphicon glyphicon-shopping-cart "></span> View Cart
                </button>

            }
        }
    }


}


<script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(".btnCart").each(function () {

        $(this).click(function () {
            var itmnum = $(this).closest('#items').find('#itmnum').html();
            var onhand = $(this).closest('#items').find('#onhand').html();
            var qty = $(this).closest('#items').find('#txtqty').val();

            if (parseInt(qty) <= parseInt(onhand)) {

                $.post("../Home/Cart", {
                    itmnum: itmnum,
                    qty: qty
                }, function (res) {


                    if (res[0].exist) {
                        alert("Item Added.");
                    } else {

                    }

                    if (res[0].added) {
                        alert("Succesfully Added.");
                    }


                });
            } else {
                alert('Insufficient Stocks!');
            }

        });
    });


</script>







@*<script type="text/javascript">

        $(".btnCart").each(function () {
            $(this).click(function () {
                var itmnum = $(this).closest('.items').find('.itmnum').html();
                var onhand = $(this).closest('.items').find('.onhand').html();
                var qty = $(this).closest('.items').find('.txtqty').val();
                //var price = $(this).closest('.items').find('.itmprice').val();
                /*var date = $(this).find('.datepicker').val();*/

                if (parseInt(qty) <= parseInt(onhand)) {
                    //alert(qty + " " + itmnum);
                    $.post("../Home/Cart", {
                        itemno: itmnum,
                        qty: qty,

                        //not done
                    }, function (res) {

                    });
                    alert('Added to Cart');
                } else if (qty == "" || qty == 0) {

                    alert('Please input the quantity of item(s) you want to purchase.');

                } else {
                    alert('Insufficient stocks');
                }

                //alert(itmnum);
            });
        });

    </script>*@