

@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Web;
@using System.Web.Mvc;
@using System.Data;
@using System.Data.SqlClient;
@using System.Configuration;
@using System.Web.Configuration;
@using System.IO;
@using System.Drawing;
@using System.Drawing.Imaging;
@using System.Web.SessionState;
@using System.Collections;



@{
    
    ViewBag.Title = "Payment";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@*<h2 style="color:white;">My Cart</h2>*@

@{

    string connDB = WebConfigurationManager.ConnectionStrings["connDB"].ConnectionString;
    double totalPrice = 0;
    double subTotal = 0;

    using (var db = new SqlConnection(connDB))
    {
        db.Open();
        using (var cmd = db.CreateCommand())
        {
            cmd.CommandType = CommandType.Text;
            cmd.CommandText = "SELECT * FROM ORDERTBL2";
            using (var reader = cmd.ExecuteReader())
            {
                if (reader.HasRows)
                {

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-10 col-md-offset-1 mx-au7to">
                                <br/>
                                <br/>
                                <div class="section-title mb-50">
                                    @*<span style="color:white;">My Cart</span>*@
                                    <h2 style="color:white;"><a href="@Url.Action("ListAllProducts", "Home")" class="btn btn-link" role="button"><<</a>My <span style="color:white;">Cart</span></h2>
                                </div>

                                 
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="color:white;">Product</th>
                                            <th style="color:white;">Quantity</th>
                                            <th class="text-center" style="color:white;">Price</th>
                                            <th class="text-center" style="color:white;">Total</th>
                                            <th> </th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        @while (reader.Read())
                                        {
                                            subTotal = Convert.ToDouble(reader["ITMPRICE"]) * Convert.ToDouble(reader["ITMQTY"]);

                                            <tr id="items">
                                                <td class="col-sm-8 col-md-6">
                                                    <div class="media">
                                                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="../Home/Image?filename=@HttpUtility.UrlEncode(reader["ITMIMG"]+"")" style="width: 72px; height: 72px;"> </a>
                                                        <div class="media-body">

                                                            <h5 class="itmnum media-heading" style="color:white;">@reader["ITMNO"]</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="col-sm-1 col-md-1" style="text-align: center">
                                                    <input type="number" class="form-control" id="QTY" value="@reader["ITMQTY"]">
                                                </td>
                                                <td id="price" class="col-sm-1 col-md-1 text-center"><strong style="color:white;">@reader["ITMPRICE"]</strong></td>

                                                <td class="col-sm-1 col-md-1 text-center"><strong style="color:white;">@subTotal</strong></td>
                                                <td class="col-sm-1 col-md-1">
                                                    <button type="button" id="btnCancel" class="btnCancel btn btn-danger">
                                                        <span class="glyphicon glyphicon-remove"></span> Remove
                                                    </button>
                                                </td>
                                            </tr>

                                            totalPrice += Convert.ToDouble(reader["ITMQTY"]) * Convert.ToDouble(reader["ITMPRICE"]);
                                        }
                                        <tr>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>   </td>
                                            <td><h3 style="color:white;">Total</h3></td>
                                            <td class="text-right"><h3 class="thisPrice" style="color:white;">@totalPrice</h3></td>
                                        </tr>
                                        <tr>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>   </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" style="width:140px; height: 45px;" onclick="location.href='@Url.Action("ListAllProducts", "Home")'">
                                                    <span class="glyphicon glyphicon-shopping-cart" ></span> Add More
                                                </button>
                                            </td>
                                            <td>
                                                <button type="button" id="btnPay" class="btn btn-success">
                                                    Checkout <span class="glyphicon glyphicon-play"></span>
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                }

            }
        }
    }

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(".btnCancel").each(function () {

            $(this).click(function () {
                var itmnum = $(this).closest('#items').find('.itmnum').html();

                $.post("../Home/RemoveCart", {
                    itmnum: itmnum
                }, function (itmnum) {

                    /*alert("ITEM " + itmnum + " has been deleted!");*/

                    Swal.fire(
                        'Item removed from cart!',
                        'That thing is still around?',
                        'warning'
                    )
                    location.reload();

                });


            });
        });

        $("#btnPay").click(function () {

            $.get("../Home/Pay", function (deleted) {
                if (deleted) {
                    accCreated();
                }
            });

        });

        function accCreated() {
            Swal.fire({
                title: 'PAYMENT SUCCESSFUL!',
                text: 'Thank you for purchasing our items!',
                icon: 'success',
                confirmButtonText: 'BUY MORE',
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "../Home/ListAllProducts";
                }
            });

        }
    </script>





}